* { 
  font-size:medium; 
  margin: 0; 
  padding: 0; 
  font-family: Nunito, 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box; 
  font-size: 16px;
}

body {background-color: #4b6474;
    }

/* https://www.esthersola.com/css-tooltip-title-atributo/ */

.foto {
  width: 3.5em;
  height: 3.5em;
}

.foto1 {
  width: 4.5em;
  height: 4.5em;
}

.foto, .foto1 {
  border-radius: 50%;
  vertical-align: middle;
  cursor: zoom-in;
  transition: 1s;
}

.foto:hover, .foto1:hover {
  transform: scale(1.5);
  transition: 1s;
}

.f1, .f2, .f3, .f4, .f5, .f6 {background-color: turquoise;}
.fp1, .fp2, .fp3, .fp4, .fp5, .fp6 {background-color: yellowgreen;}

.contenedor {
  width: 70%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
  padding: 3px;
  padding-top: 20px;
}

a {text-decoration: none;}

.nivel1 {
  display: grid;
  grid: "f g"
  "n m"
  "d e";
  grid-template-columns: 50% 50%;
  vertical-align: top;
  margin-bottom: 2em;
  text-align: center;
}
.imagen1 {grid-area: f; text-align: center; }
.imagen1a {grid-area: g; text-align: center; }
.fam1    {grid-area: n; }
.fam1a    {grid-area: m; }
.fam1, .fam1a {font-weight: 700; font-size: 1.2rem; margin: 0.5em 0; }
.date1   {grid-area: d; }
.date1a   {grid-area: e; }
.date1, .date1a {font-size: smaller; font-size: 0.85em; padding-left: 1em;}

.nivel2 {
  display: grid;
  grid: "f s n"
        "f v d"
        "m m m";
  
  grid-template-rows: 1.3em;
  vertical-align: top;
  margin-bottom: 0.5em;
}
.nivel3, .nivel4, .nivel5, .nivel6 {
  display: grid;
  grid: "f s n"
        "f v d";
  
  grid-template-rows: 1em;
  vertical-align: top;
  margin-bottom: 0.3em;
}

.nivel2 { grid-template-columns: 12% 4% 1fr;}
.nivel3 { grid-template-columns: 14% 4% 1fr;}
.nivel4 { grid-template-columns: 16% 4% 1fr;}
.nivel5 { grid-template-columns: 18% 4% 1fr;}
.nivel6 { grid-template-columns: 20% 4% 1fr;}

.imagen {grid-area: f; text-align: right; padding-right: 1em; /* background-color: yellow; */}
.status {grid-area: s; color:red; text-align: left; font-size: 1.2em;}
.fam2   {grid-area: n; background-color: #d3f5f2; font-weight: 600; vertical-align: baseline; }
.family  {grid-area: n; font-size: 0.9em; vertical-align: bottom; font-weight: 500;}
.pareja  {grid-area: n; font-size: 0.9em; font-style:italic ; vertical-align: bottom; color: #4b6474; 
  /*text-decoration: overline dotted;*/}
.vacio   {grid-area: v;}
.detalles{grid-area: m; margin-left: 3.5em; background-color: #fff; width: 84%;}
.dates   {grid-area: d; font-size: smaller; vertical-align: top; color: #aaa;padding-left: 1em;}



@media screen and (max-width: 800px) {
  .contenedor {width: 98%;}
  .nivel2 { grid-template-columns: 15% 8% 1fr;}
  .nivel3 { grid-template-columns: 18% 10% 1fr;}
  .nivel4 { grid-template-columns: 21% 12% 1fr;}
  .nivel5 { grid-template-columns: 23% 14% 1fr;}
  .nivel6 { grid-template-columns: 25% 16% 1fr;}
  .status {font-size: 0.9em; text-align: center;}
  .dates, .date1, .date1a {font-size: 0.7em;}
  .fam1, .fam1a {font-size: 1em;}
  .fam2 {font-size: 0.9em;}
}

@media screen and (max-width: 360px) {
  .contenedor {width: 97%;}
  .nivel2 { grid-template-columns: 12% 12% 1fr;}
  .nivel3 { grid-template-columns: 13% 17% 1fr;}
  .nivel4 { grid-template-columns: 14% 19% 1fr;}
  .nivel5 { grid-template-columns: 15% 21% 1fr;}
  .nivel6 { grid-template-columns: 16% 23% 1fr;}
  .status {font-size: 0.7em;text-align: center;}
  .dates, .date1, .date1a {font-size: 0.7em;}
  .fam1, .fam1a {font-size: 0.95em;}
  .fam2, .pareja, .family {font-size: 0.75em;}
  
}
